<section class="section about">
  <div class="container about-container">
    <img
      srcset="../img/about/about-img1x.jpg 1x, ../img/about/about-img2x.jpg 2x"
      src="../img/about/about-img1x.jpg"
      alt="hands in work"
      class="about-img"
    />

    <div class="about-content-wrapper">
      <h2 class="about-title">The Artistry Behind Handmade Jewelry</h2>
      <p class="about-text">
        Handmade Jewelry began as a passion project, inspired by the beauty of
        nature and the desire to create meaningful pieces. Each item is crafted
        with love, reflecting our commitment to sustainability and the unique
        story of its maker.
      </p>
      <ul class="about-list">
        <li class="about-list-item about-nature">Inspired by Nature</li>
        <li class="about-list-item about-love">Handcrafted with Love</li>
        <li class="about-list-item about-story">Every Piece Tells a Story</li>
      </ul>
    </div>
  </div>
</section>
