<section class="section contacts" id="contacts">
  <div class="container contacts__container">
    <div class="contacts__title-wrap">
      <h3 class="contacts__subtitle">Connect</h3>
      <h2 class="contacts__title">Order your unique jewelry</h2>
      <p class="contacts__text">We'd love to hear more details from you!</p>
    </div>

    <div class="contacts__content-wrap">
      <address class="contacts__address">
        <ul class="contacts__nav-list">
          <li class="contacts__nav-item">
            <svg class="contacts__nav-icon" width="32" height="32">
              <use href="/img/icons.svg#envelope"></use>
            </svg>
            <p class="contacts__nav-text">Email</p>
            <a
              class="contacts__nav-link"
              href="mailto:info@handmadejewelry.com"
              rel="noopener noreferer"
              >info@handmadejewelry.com</a
            >
          </li>

          <li class="contacts__nav-item">
            <svg class="contacts__nav-icon" width="32" height="32">
              <use href="/img/icons.svg#phone"></use>
            </svg>
            <p class="contacts__nav-text">Phone</p>
            <a
              class="contacts__nav-link"
              href="tel:+15550000000"
              rel="noopener noreferer"
              >+1 (555) 000-0000</a
            >
          </li>

          <li class="contacts__nav-item">
            <svg class="contacts__nav-icon" width="32" height="32">
              <use href="/img/icons.svg#map"></use>
            </svg>
            <p class="contacts__nav-text">Office</p>
            <a
              class="contacts__nav-link"
              href="https://maps.app.goo.gl/3qhNZ9JwaxwPTXyC7"
              target="blank"
              rel="noopener noreferer nofollow"
              >76-8 Oakington Manor Dr, London, UK</a
            >
          </li>
        </ul>
      </address>

      <form class="contacts__form" action="">
        <label for="name" class="form__label">Name*</label
        ><input
          class="form__input"
          id="user-name"
          name="user-name"
          type="text"
          placeholder="Tony"
          pattern="^[a-zA-Z\s\.]{5,28}$"
          required
        />
        <p class="error-message">
          Name must be 5-28 characters long and use only Latin letters.
        </p>

        <label for="user-phone" class="form__label">Phone*</label
        ><input
          class="form__input"
          id="user-phone"
          name="user-phone"
          type="tel"
          placeholder="+1 234 567 8900"
          pattern="\+\d{1,3}\s?\d{3}\s?\d{3}\s?\d{4}"
          inputmode="tel"
          required
        />
        <p class="error-message">
          Please enter a phone number starting with '+' followed by 11 digits.
        </p>

        <label for="user-comments" class="form__label"
          >Describe what you want</label
        ><textarea
          class="form__input form__textarea"
          id="user-comments"
          name="user-comments"
          placeholder="Type your message..."
          maxlength="500"
          rows="5"
        ></textarea>

        <button class="submit-button" type="submit">Submit</button>
      </form>
    </div>
  </div>
</section>
