<section class="section gallery">
    <div class="container">

<h2 class="gallery-heading">
Jewelry Showcase
</h2>

<p class="gallery-text">
Discover the beauty of our handcrafted jewelry in style.
</p>

<ul class="gallery-list big">
    <li class="gallery-list-item">
        <img srcset="/img/gallery/bead_bracelet1x.jpg 1x, /img/gallery/bead_bracelet2x.jpg 2x" src="/img/gallery/bead_bracelet1x.jpg" alt="Purple bead bracelet" width="335" height="335" />
    </li>
    <li class="gallery-list-item small">
        <img srcset="/img/gallery/pendant1x.jpg 1x, /img/gallery/pendant2x.jpg 2x" src="/img/gallery/pendant1x.jpg" alt="Amber pendant" width="335" height="335" />
    </li>

    <li class="gallery-list-item small">
        <img srcset="/img/gallery/leaf_bracelet1x.jpg 1x, /img/gallery/leaf_bracelet2x.jpg 2x" src="/img/gallery/leaf_bracelet1x.jpg" alt="Multiple bracelets with leaf decor" width="335" height="335" />
    </li>

    <li class="gallery-list-item big">
        <img srcset="/img/gallery/pins1x.jpg 1x, /img/gallery/pins2x.jpg 2x" src="/img/gallery/pins1x.jpg" alt="Earings with sunflower pattern" width="335" height="335" />
    </li>
</ul>

    </div>
</section>
