<section class="container gallery">
    <div class="conteiner gallery-container">

<div class="gallery-title">
<h3 class="gallery-heading">
Jewelry Showcase
</h3>

<p class="gallery-text">
Discover the beauty of our handcrafted jewelry in style.
</p>
</div>

<ul class="gallery-list big">
    <li class="gallery-list-item">
        <img srcset="../img/gallery/bead_bracelet.jpg 1x, ../img/gallery/bead_bracelet@2x.jpg 2x" src="../img/gallery/bead_bracelet.jpg" alt="Purple bead bracelet" width="335" height="335" />
    </li>
    <li class="gallery-list-item small">
        <img srcset="../img/gallery/pendant.jpg 1x, ../img/gallery/pendant@2x.jpg 2x" src="../img/gallery/pendant.jpg" alt="Amber pendant" width="335" height="335" />
    </li>

    <li class="gallery-list-item small">
        <img srcset="../img/gallery/leaf_bracelet.jpg 1x, ../img/gallery/leaf_bracelet@2x.jpg 2x" src="../img/gallery/leaf_bracelet.jpg" alt="Multiple bracelets with leaf decor" width="335" height="335" />
    </li>

    <li class="gallery-list-item big">
        <img srcset="../img/gallery/pins.jpg 1x, ../img/gallery/pins@2x.jpg 2x" src="../img/gallery/pins.jpg" alt="Earings with sunflower pattern" width="335" height="335" />
    </li>
</ul>

    </div>
</section>
