<header class="header-page">
  <div class="container header-container">
    <a class="nav-link-logo" href="/index.html" aria-label="На головну">
      <svg class="logo-icon" width="160" height="68">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <nav class="header-page-nav" aria-label="Головна навігація">
      <ul class="nav-list">
        <li class="nav-list-item">
          <a class="nav-list-item-link" href="#about">About us</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" href="#benefits">Benefits</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" href="#gallery">Gallery</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="nav-list-item">
          <a class="nav-list-item-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>

    <a class="btn-order" href="">Order Now</a>

    <button class="burger-btn" type="button" aria-label="Відкрити меню">
      <svg class="burger-icon" width="16" height="12">
        <use href="/img/icons.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
