<div class="mob-menu" id="mob-menu">
  <div class="mob-menu-container">
    <button
      class="mob-menu-close"
      type="button"
      aria-label="Закрити меню"
      data-menu-close
    >
      <svg class="mob-menu-close-icon" width="24" height="24">
        <use href="./img/icons.svg#close"></use>
      </svg>
    </button>

    <nav class="mob-menu-nav" aria-label="Мобільна навігація">
      <ul class="mob-menu-list">
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#about">About us</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#benefits">Benefits</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#gallery">Gallery</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#testimonials">Testimonials</a>
        </li>
        <li class="mob-menu-item">
          <a class="mob-menu-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
