section.about {
  padding: 56px 0;
}

@media screen and (min-width: 768px) {
  section.about {
    padding: 112px 0;
  }
}

picture {
  display: block;
}

.about-img {
  margin-bottom: 32px;
  width: 335px;
  height: 335px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about-img {
    width: 704px;
    height: 456px;
  }
}

@media screen and (min-width: 1440px) {
  .about-img {
    margin-bottom: 0;
    width: 640px;
  }

  .about-content-wrapper {
    width: 640px;
  }
}

.about-title {
  margin-bottom: 24px;
}

.about-text {
  font-size: 18px;
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-list-item {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  padding-left: 32px;
}

.about-list-item::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 1.5px;
}

.about-nature::before {
  background-image: url(/img/about/nature.svg);
}

.about-love::before {
  background-image: url(/img/about/love.svg);
}

.about-story::before {
  background-image: url(/img/about/story.svg);
}

@media screen and (min-width: 1440px) {
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}
