section.about {
  padding: 56px 0;
}

@media screen and (min-width: 768px) {
  section.about {
    padding: 112px 0;
  }
}

.about-img {
  margin-bottom: 32px;
  width: 335px;
  height: 335px;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .about-img {
    width: 704px;
    height: 456px;
  }
}

@media screen and (min-width: 1440px) {
  .about-img {
    margin-bottom: 0;
    width: 640px;
  }
}

.about-title {
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

@media screen and (min-width: 1440px) {
  .about-title {
    font-size: 48px;
  }
}

.about-text {
  font-size: 18px;
  margin-bottom: 24px;
}

.about-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about-list-item {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

*::before {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.about-nature::before {
  content: url(../img/about/nature.svg);
}

.about-love::before {
  content: url(../img/about/love.svg);
}

.about-story::before {
  content: url(../img/about/story.svg);
}

@media screen and (min-width: 1440px) {
  .about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}
