.testimonials-title {
    font-family: "Sora", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 24px;
}

.testimonials-text {
    text-align: center;
    margin-bottom: 40px;
}

.testimonials-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.testimonial-item {
  background-color: #f2f2f2;
}

.testimonial-comment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 32px;
}

.testimonial_rating {
  display: flex;
  gap: 4px;
  margin-bottom: 24px;
  padding: 0;
  list-style: none;
}

.testimonial_text {
  font-size: 18px;
  margin-bottom: 24px;
}

.testimonial_author {
    font-weight: 600;
}

.testimonial-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (min-width: 768px){

.testimonials-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.testimonial-image {
    width: 203px;
}

.testimonial-comment {
    width: 250px;
    height: 260px;
}

.testimonial_text {
    margin-bottom: 43px;
}
}

@media screen and (min-width: 1440px) {

.testimonials-list{
    gap: 32px;
}
 
.testimonial-image {
width: 304px;
height: 260px;
}

.testimonial-comment {
width: 640px;
height: 260px;
}

.testimonials-text {
    margin-bottom: 80px;
}

.testimonials-title {
    font-size: 48px;
}

.testimonial_text {
    margin-bottom: 97px;
}
}